# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=
NODE_ENV='development'
PUSHER_APP_ID='default'
NEXT_PUBLIC_PUSHER_APP_KEY='app-key'
PUSHER_APP_SECRET='app-secret'
PUSHER_APP_CLUSTER=''
NEXT_PUBLIC_PUSHER_SERVER_TLS=false
NEXT_PUBLIC_PUSHER_SERVER_HOST=localhost
NEXT_PUBLIC_PUSHER_SERVER_PORT=6001
